<table class="help-page-table">
    <thead>
		<tr><th>Name</th><th>Description</th><th>Type</th><th>Additional information</th></tr>
    </thead>
    <tbody>
    <# foreach (var parameter in parameters)
    {
		    ModelDescription modelDescription = parameter.TypeDescription;
		    string parameterDocumentation = parameter.Documentation != null ?
                parameter.Documentation : "No documentation available.";

        // Don't show CancellationToken because it's a special parameter
        if (!typeof(CancellationToken).IsAssignableFrom(parameter.TypeDescription.ModelType))
        { #>
            <tr>
                <td class="parameter-name"><b><#=parameter.Name#></b></td>
                <td class="parameter-documentation"><pre><#=parameterDocumentation#></pre></td>
				        <td>
                    <#@ include file="DisplayTemplates\ModelDescriptionLink.tt" #>
                </td>
              
                <td>
                    <#if (parameter.Annotations.Count > 0)
                    {
						foreach (var annotation in parameter.Annotations)
                        {#>
							<p><#=annotation.Documentation#></p>
                        <#}
                    }
                    else
                    {#>
						<p>None.</p>
                    <#}#>
                </td>
            </tr>
        <# } 
    } #>
    </tbody>
</table>